footer{
  margin-top: : 100px;
  background-color: #e0e0e0;
}
#test{
  font-size: 15px;
}

.thumbnail{
  word-wrap: break-word;
}

#number{
  margin: 1em;
  width: 3em;
}

.modal {
   position: absolute;
   top: 40%;
   overflow: auto;
   overflow-y: auto;
   margin: auto;
}
